.box {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5rem;
    color: #333;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

.button.is-primary {
    background-color: #ff7f50;
    border-color: transparent;
}

.button.is-primary:hover {
    background-color: #ff6347;
}

.checkbox {
    color: #666;
}

.checkbox a {
    color: #ff7f50;
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}